# E-commerce Sales data analysis

Analyze the Dataset and Answer the Following Questions:
1. What is the total revenue (before discount vs after discount) across all transactions?
2. Which category has the highest total sales (both price and final price)?

3. Which month had the highest sales volume and revenue?

4. What is the average discount percentage given across categories?
5. Which day/month has the highest sales activity?
6. Are there seasonal trends in purchases (e.g., more purchases near year-end)?
7. Which categories are popular in certain months?
8. Which payment method generated the highest revenue?
9. Which user has made the highest number of purchases?
10. Who spent the most money (final price sum) overall?

11. Are there users who bought from multiple categories?

In [12]:
import pandas as pd 
import numpy as np

### Read the dataset

In [13]:
df = pd.read_csv("ecommerce_dataset_updated.csv")

print(df)

       User_ID  Product_ID        Category  Price (Rs.)  Discount (%)  \
0     337c166f  f414122f-e          Sports        36.53            15
1     d38a19bf  fde50f9c-5        Clothing       232.79            20
2     d7f5f0b0  0d96fc90-3          Sports       317.02            25
3     395d4994  964fc44b-d            Toys       173.19            25
4     a83c145c  d70e2fc6-e          Beauty       244.80            20
...        ...         ...             ...          ...           ...
3655  67abda0a  28714133-6          Beauty       486.79             0
3656  34ebc1a0  08838c2c-9            Toys       212.87            15
3657  1defd3b1  c39a4f16-6  Home & Kitchen       389.76             0
3658  0611293d  b4f67f96-9     Electronics       447.66            30
3659  e73ad07c  a5d07442-d  Home & Kitchen       235.77            30

      Final_Price(Rs.)    Payment_Method Purchase_Date
0                31.05       Net Banking    12-11-2024
1               186.23       Net Banking    09-02-2024
2               237.76       Credit Card    01-09-2024
3               129.89               UPI    01-04-2024
4               195.84       Net Banking    27-09-2024
...                ...               ...           ...
3655            486.79               UPI    14-05-2024
3656            180.94  Cash on Delivery    19-11-2024
3657            389.76       Net Banking    07-08-2024
3658            313.36               UPI    21-05-2024
3659            165.04               UPI    14-04-2024

[3660 rows x 8 columns]

In [14]:
print(df.shape)

(3660, 8)

In [15]:
print(df.info)

<bound method DataFrame.info of        User_ID  Product_ID        Category  Price (Rs.)  Discount (%)  \
0     337c166f  f414122f-e          Sports        36.53            15
1     d38a19bf  fde50f9c-5        Clothing       232.79            20
2     d7f5f0b0  0d96fc90-3          Sports       317.02            25
3     395d4994  964fc44b-d            Toys       173.19            25
4     a83c145c  d70e2fc6-e          Beauty       244.80            20
...        ...         ...             ...          ...           ...
3655  67abda0a  28714133-6          Beauty       486.79             0
3656  34ebc1a0  08838c2c-9            Toys       212.87            15
3657  1defd3b1  c39a4f16-6  Home & Kitchen       389.76             0
3658  0611293d  b4f67f96-9     Electronics       447.66            30
3659  e73ad07c  a5d07442-d  Home & Kitchen       235.77            30

      Final_Price(Rs.)    Payment_Method Purchase_Date
0                31.05       Net Banking    12-11-2024
1               186.23       Net Banking    09-02-2024
2               237.76       Credit Card    01-09-2024
3               129.89               UPI    01-04-2024
4               195.84       Net Banking    27-09-2024
...                ...               ...           ...
3655            486.79               UPI    14-05-2024
3656            180.94  Cash on Delivery    19-11-2024
3657            389.76       Net Banking    07-08-2024
3658            313.36               UPI    21-05-2024
3659            165.04               UPI    14-04-2024

[3660 rows x 8 columns]>

### Check the colunms & Data Type

In [33]:
col = df.columns
print(col.unique())

print("Data Type:")
print(df.dtypes)

Index(['User_ID', 'Product_ID', 'Category', 'Price (Rs.)', 'Discount (%)',
       'Final_Price(Rs.)', 'Payment_Method', 'Purchase_Date'],
      dtype='object')
Data Type:
User_ID              object
Product_ID           object
Category             object
Price (Rs.)         float64
Discount (%)          int64
Final_Price(Rs.)    float64
Payment_Method       object
Purchase_Date        object
dtype: object

### Read first 10 columns

In [43]:
sort = df.sort_values(by= "Final_Price(Rs.)", ascending= False)

sort.head(10)

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
1116,8b885340,5a4c2797-7,Home & Kitchen,496.82,0,496.82,Debit Card,20-04-2024
2833,20797b76,2a8fff8b-4,Clothing,495.02,0,495.02,Debit Card,30-04-2024
1150,d8970dd2,475d4cf1-c,Sports,493.04,0,493.04,Net Banking,17-03-2024
2057,da7bc76a,e88dc97f-5,Clothing,492.41,0,492.41,Credit Card,02-01-2024
2169,68722b9b,67d7c91c-b,Home & Kitchen,491.70,0,491.70,Credit Card,19-08-2024
2908,05e6557c,128bb94a-4,Books,487.06,0,487.06,Net Banking,17-08-2024
3655,67abda0a,28714133-6,Beauty,486.79,0,486.79,UPI,14-05-2024
3610,d646700c,585b0773-2,Sports,484.56,0,484.56,UPI,21-10-2024
1303,edb89577,3be497cb-0,Sports,480.49,0,480.49,Cash on Delivery,15-07-2024
620,f9e89622,6390f2ea-8,Books,479.63,0,479.63,UPI,12-04-2024

## Q1: Total Revenue